html {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    padding: 1em;

    grid-template-columns: auto 20em;
}

.map {
    background-color: #003;
}

.unit {
    display: grid;

    border: 0.1em solid white;
    padding: 1em;
}

.unit.selected {
    border: 0.1em solid red;
}

.unit .name {
    font-size: 1.5em;
    font-weight: bold;
}

.unit * {
    margin: 0;
}

.unit code {
    display: block;
    background-color: #333;
    padding: 0.5em;
}

.unit pre {
    white-space: pre-wrap;
}
